/* Original css at: */
/* https://github.com/xz/new.css/blob/master/new.css */

:root {
	--nc-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
	--nc-tx-1: #000000;
	--nc-tx-2: #1A1A1A;
	--nc-bg-1: #FFFFFF;
	--nc-bg-2: #F6F8FA;
	--nc-bg-3: #E5E7EB;
	--nc-lk-1: #185FAF;
	--nc-lk-2: #0e3969;
	--nc-lk-tx: #FFFFFF;
	--nc-ac-1: #79FFE1;
	--nc-ac-tx: #0C4047;
	---tx-3: #666666;
	---tx-4: #999999;
}

body {
    max-width: 800px;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    color: var(---tx-4);
}

footer a {
    color: var(---tx-3);
}

#banner {
    margin: 0px auto; 
    max-width: 100%;
    border-radius: 10px;
}

/* /\* Table of contents *\/ */
/* #text-software, #text-research { */
/*     position: fixed; */
/*     left: 4em; */
/*     top: 12em; */
/*     line-height: 1; */
/*     font-size: 1.03rem; */
/* } */

#text-software a, #text-research a {
    text-decoration: none;
}

#logo-link {
    margin: 0;
}

/* End */
